/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";

@font-face {
  font-family: 'BeonMedium';
  src: asset_url('beon-webfont.eot');
  src: asset_url('beon-webfont.eot?#iefix') format('embedded-opentype'),
       asset_url('beon-webfont.woff') format('woff'),
       asset_url('beon-webfont.ttf') format('truetype'),
       asset_url('beon-webfont.svg#BeonMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sidenav a:visited {
  color: #8ECEB8
}

body {
  font-family: 'Rubik', sans-serif;
}


ul li {
  list-style: none;
}

a, a:hover, a:visited {
  color: inherit;
  text-decoration: none
}

body {
  background-color: black; 
  color: white 
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 2vw
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.25em;
}

.bottle-btn{
  border-color: #8ECEB8
}

.bottle-btn:hover{
  background-color: white
}

// logout button

#login-out .log-button:hover, .checkout-button:hover {
  background-color: #8ECEB8; 
  opacity: 0.9;
  color: #fdeb1f
}

#login-out .log-button, .checkout-button {
  border: 1px solid #8ECEB8;
  color: white
}

// .logout-container .btn.dropdown-toggle.log-button {
//   border: 1px solid #8ECEB8
// }

.btn.log-button {
  border-color: #8ECEB8;
}

// end logout button

// dropdown menu styling

.dropdown-menu, .show {
  opacity: 0.9;
  z-index: 3
}

// dropdown button
.btn.dropdown-toggle {
  background-color: inherit;
  border: 0px 
}

.btn.dropdown-toggle:hover {
  color: #8ECEB8 
}

// end dropdown menu styling

// logo styling// 

.logo #neon-tubing {
	text-align: center;
	color: #8ECEB8;
	font-family: 'BeonMedium', sans-serif;
	font-size: 6rem;
	letter-spacing: .5rem;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fdeb1f, 0 0 0.5em #fdeb1f, 0 0 0.1em #fdeb1f, 0 10px 3px #000;
}

@keyframes neonspark  {
    78% {
        color: inherit;
        text-shadow: inherit;
      }
      79%{
         color: #333;
      }
      80% {
        
        text-shadow: none;
      }
      81% {
        color: inherit;
        text-shadow: inherit;
      }
      82% {
        color: #333;
        text-shadow: none;
      }
      83% {
        color: inherit;
        text-shadow: inherit;
      }
      92% {
        color: #333;
        text-shadow: none;
      }
      92.5% {
        color: inherit;
        text-shadow: inherit;
      }
}

.logo #neon-tubing {
	animation: neonspark 1s 3s forwards;
	}

  .logo #neon-tubing span {
		animation: neonspark 4s 3s infinite;
  }

  .logo a {
    color: #333
  }


// end logo styling 

a {
  color: #8ECEB8;
}

label {
  display: block;
}

.cat-labels {
  display: inline;
}