// Place all the styles related to the Merchants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.merchant-cards {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    margin: auto;
}

.card {
    justify-content: center;
    align-content: center;
    text-align: center;
    color: black;
    padding: 1em;
    margin: 0.5em;
    max-width: 20%;
}

.card-img-bottom {
    justify-content: center;
    align-content: center;
    border: #8ECEB8;
}