// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index for products
.sidenav {
    display: table-cell;
    width: 20%;
    vertical-align: top;
} 

.products {
    display: table;
    width: 100%;
    height: 100%;
}

.product-cards, .category-cards, .merchant-cards {
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    margin: auto;
}

.product .card {
    justify-content: center;
    align-content: center;
    text-align: center;
    color: black;
    padding: 1em;
    margin: 0.5em;
}

.card-img-top {
    justify-content: center;
    align-content: center;
    border: #8ECEB8;
}

.pagination {
    justify-content: center;
}

// show for product
.show {
    margin-left: 2em;
}
.show .card {
    background-color: black;
    color: white;
    text-align: left;
}

.related-products .card {
    max-width: 15%;
    display: inline-block;
    vertical-align: top;
}

.product-details img {
    max-width: 175px;
}

