<body>
  
  <main>
    <header>
      <h3>Edit <%= @product.name %></h3>
    <header>

      <section>
        <%= render partial: "form", locals: { submit_title: "Edit #{@product.name}", submit_url: product_path(@product.id), submit_method: "patch" } %>
      </section>
  </main>

</body>